/* #topLevelPostList::-webkit-scrollbar {
  display: none;
} */

#topLevelPostList {
  overflow-x: scroll;
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
}

#topLevelPostList .post {
  min-width: 340px;
  max-width: 340px;
  max-height: 350px;
}

#replyList .reply {
  min-width: 340px;
}